.clicked-button {
	outline: none; /* Remove the outline when clicked */
	box-shadow: none; /* Remove any box shadow when clicked */
	background-color: rgb(197, 196, 196);
}

.unclicked-button {
	/* Add any styles for the unclicked state here if needed */
}
